<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/8458B09B-93EA-44C2-AD05-0B4E4A4D9651</string>
	<key>NetworkServices</key>
	<dict>
		<key>299B07C0-D0E0-4840-8486-9E77B9ED84DB</key>
		<dict>
			<key>AppleTalk</key>
			<dict/>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>ExcludeSimpleHostnames</key>
				<integer>1</integer>
				<key>FTPEnable</key>
				<integer>1</integer>
				<key>FTPPassive</key>
				<integer>1</integer>
				<key>FTPPort</key>
				<integer>8092</integer>
				<key>FTPProxy</key>
				<string>ftp_proxy.unit-test.invalid</string>
				<key>GopherEnable</key>
				<integer>1</integer>
				<key>GopherPort</key>
				<integer>8090</integer>
				<key>GopherProxy</key>
				<string>http_proxy.unit-test.invalid</string>
				<key>HTTPEnable</key>
				<integer>1</integer>
				<key>HTTPPort</key>
				<integer>8090</integer>
				<key>HTTPProxy</key>
				<string>http_proxy.unit-test.invalid</string>
				<key>HTTPSEnable</key>
				<integer>1</integer>
				<key>HTTPSPort</key>
				<integer>8091</integer>
				<key>HTTPSProxy</key>
				<string>https_proxy.unit-test.invalid</string>
				<key>ProxyAutoConfigEnable</key>
				<integer>1</integer>
				<key>ProxyAutoConfigURLString</key>
				<string>http://http_proxy.unit-test.invalid/wpad.pac</string>
				<key>ProxyAutoDiscoveryEnable</key>
				<integer>0</integer>
				<key>RTSPEnable</key>
				<integer>1</integer>
				<key>RTSPPort</key>
				<integer>8094</integer>
				<key>RTSPProxy</key>
				<string>rtsp_proxy.unit-test.invalid</string>
				<key>SOCKSEnable</key>
				<integer>1</integer>
				<key>SOCKSPort</key>
				<integer>8095</integer>
				<key>SOCKSProxy</key>
				<string>socks_proxy.unit-test.invalid</string>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>8458B09B-93EA-44C2-AD05-0B4E4A4D9651</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>299B07C0-D0E0-4840-8486-9E77B9ED84DB</string>
						</array>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>299B07C0-D0E0-4840-8486-9E77B9ED84DB</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/299B07C0-D0E0-4840-8486-9E77B9ED84DB</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Network</key>
		<dict>
			<key>HostNames</key>
			<dict>
				<key>LocalHostName</key>
				<string>rossis-Mac-mini</string>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>ComputerName</key>
			<string>rossi’s Mac mini</string>
			<key>ComputerNameEncoding</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
